/* MARK: Variables
*/

:root {
    --element-background-color: rgb(35, 108, 168);
    --element-foreground-color: rgb(49, 144, 221);
}

/* MARK: Main areas
*/

body {
    background: linear-gradient(120deg, #102661, #8c386d);
    color: #000;
    height: 100vh;
}

#game-area {
    max-width: 900px;
    margin: 0 auto;
}

#play-area {
    display: flex;
}

#left-column {
    width: 67%;
}

#right-column {
    width: 33%;
    margin-left: 8px;
}

#zone-name {
    text-align: center;
    margin-top: 0;
    color: #FFF;
}

#energy .progress-bar {
    height: 20px;
    border-radius: 12px;
}

#energy {
    margin-bottom: 8px;
}

/* MARK: Tasks
*/

.task {
    margin-bottom: 8px;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

.task button {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
}

.task button:disabled {
    background: linear-gradient(5deg, #777, #999);
    color: #000;
}

.task.Normal button:enabled {
    background: linear-gradient(5deg, rgb(22, 196, 88), rgb(53, 197, 101));
}

.task.Travel button:enabled {
    background: linear-gradient(5deg, rgb(23, 112, 196), rgb(54, 132, 204));
}

.task.Mandatory button:enabled {
    background: linear-gradient(5deg, rgb(224, 193, 68), rgb(220, 221, 130));
}

.task.Boss button:enabled {
    background: linear-gradient(5deg, rgb(214, 60, 60), rgb(236, 107, 107));
}

.task .task-item-indicator {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
}

.task-upper {
    width: 100%;
    display: flex;
}

.task-reps {
    width: 50%;
    display: flex;
    margin-left: 3px;
}

.task-rep {
    width: 24px;
    height: 24px;
    background: #555;
    margin: 3px;
    border-radius: 5px;
}

.task-rep.finished {
    background: #00BB00;
}

/* MARK: Skills
*/

#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.skill {
    width: 80px;
    text-align: center;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

.skill .progress-bar {
    width: 80px;
    text-align: center;
    margin-top: 5px;
}

.skills-used-text {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* MARK: Items
*/

#items {
    margin-bottom: 20px;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

#items-name {
    margin: 5px;
}

#items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5px;
}

.item {
    width: 48px;
    height: 48px;
    text-align: center;
}

.item button {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--element-foreground-color);
}

/* MARK: Perks
*/

#perks {
    margin-bottom: 20px;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

#perks-name {
    margin: 5px;
}

#perks-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5px;
}

.perk {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 8px;
    background: var(--element-foreground-color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.perk-text {
    vertical-align: center;
}

/* MARK: Various
*/

#game-over-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: #0008;
}

#game-over-box {
    text-align: center;
}

#end-of-content-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    background: #0008;
}

#end-of-content-box {
    text-align: center;
}

#tooltip {
    position: absolute;
    background: #000000AA;
    color: #FFF;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

#tooltip h3 {
    margin-top: 3px;
    margin-bottom: 8px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #555;
    overflow: hidden;
    border-radius: 5px;
}

.progress-fill {
    height: 100%;
    background: #00BB00;
    transition: width 0.2s;
}

.progress-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
