/* MARK: Variables
*/

:root {
    /* MARK: Variables Colours */
    --palette-black: rgb(39,39,47);
    --palette-white: rgb(255,255,255);
    
    --palette-primary-paper-color: rgb(35, 108, 168);
    --palette-secondary-paper-color: rgb(49, 144, 221);
    
    --palette-background-start: rgb(16, 38, 97);
    --palette-background-end: rgb(140, 56, 109);

    --palette-info: rgb(23, 112, 196);
    --palette-info-text: rgb(255,255,255);
    --palette-info-darken: rgb(15, 73, 128);
    --palette-info-lighten: rgb(40, 138, 230);
    --palette-info-hover: rgba(23, 112, 196,0.05);
    
    --palette-success: rgb(22, 196, 88);
    --palette-success-text:  rgb(39,39,47);
    --palette-success-darken: rgb(16, 145, 65);
    --palette-success-lighten: rgb(38, 231, 111);
    --palette-success-hover: rgba(22, 196, 88,0.05);
    
    --palette-warning: rgb(224, 193, 68);
    --palette-warning-text:  rgb(39,39,47);
    --palette-warning-darken: rgb(207, 172, 34);
    --palette-warning-lighten: rgb(224, 226, 29);
    --palette-warning-hover: rgba(224, 193, 68,0.05);
    
    --palette-error:  rgb(214, 60, 60);
    --palette-error-text: rgb(255,255,255);
    --palette-error-darken: rgb(184, 39, 39);
    --palette-error-lighten: rgb(231, 67, 68);
    --palette-error-hover: rgba(246,78,98,0.05);
    
    --palette-dark: rgb(39,39,47);
    --palette-dark-text: rgb(255,255,255);
    --palette-dark-darken: rgb(23,23,28);
    --palette-dark-lighten: rgb(56,56,67);
    --palette-dark-hover: rgba(39,39,47,0.05);
    
    --palette-text-primary: rgba(255,255,255,0.7);
    --palette-text-secondary: rgba(255,255,255,0.5);
    --palette-text-disabled: rgba(255,255,255,0.2);

    --palette-action-default: rgba(173,173,177,1);
    --palette-action-default-hover: rgba(173,173,177,0.05);
    
    --palette-action-disabled: rgba(255,255,255,0.25);
    --palette-action-disabled-background: rgba(255,255,255,0.18);
    
    /* MARK: Variables Text */
    --typography-default-family: Roboto, Helvetica, Arial;
    --typography-default-weight: 400;
    --typography-default-size: .875rem;
    --typography-default-lineheight: 1.43;
    --typography-default-letterspacing: 0.1071em;
    --typography-default-text-transform: none;
    --typography-default-text-color: rgb(255,255,255);

    --typography-h1-family: Roboto, Helvetica, Arial;
    --typography-h1-size: 6rem;
    --typography-h1-weight: 300;
    --typography-h1-lineheight: 1.167;
    --typography-h1-letterspacing: -.01562em;
    --typography-h1-text-transform: none;
    
    --typography-h2-family: Roboto, Helvetica, Arial;
    --typography-h2-size: 3.75rem;
    --typography-h2-weight: 300;
    --typography-h2-lineheight: 1.2;
    --typography-h2-letterspacing: -.00833em;
    --typography-h2-text-transform: none;
    
    --typography-h3-family: Roboto, Helvetica, Arial;
    --typography-h3-size: 3rem;
    --typography-h3-weight: 400;
    --typography-h3-lineheight: 1.167;
    --typography-h3-letterspacing: 0;
    --typography-h3-text-transform: none;
    
    --typography-h4-family: Roboto, Helvetica, Arial;
    --typography-h4-size: 2.125rem;
    --typography-h4-weight: 400;
    --typography-h4-lineheight: 1.235;
    --typography-h4-letterspacing: .00735em;
    --typography-h4-text-transform: none;
    
    --typography-h5-family: Roboto, Helvetica, Arial;
    --typography-h5-size: 1.5rem;
    --typography-h5-weight: 400;
    --typography-h5-lineheight: 1.334;
    --typography-h5-letterspacing: 0;
    --typography-h5-text-transform: none;
    
    --typography-h6-family: Roboto, Helvetica, Arial;
    --typography-h6-size: 1.25rem;
    --typography-h6-weight: 500;
    --typography-h6-lineheight: 1.6;
    --typography-h6-letterspacing: .0075em;
    --typography-h6-text-transform: none;
    
    --typography-subtitle1-family: Roboto, Helvetica, Arial;
    --typography-subtitle1-size: 1rem;
    --typography-subtitle1-weight: 400;
    --typography-subtitle1-lineheight: 1.75;
    --typography-subtitle1-letterspacing: .00938em;
    --typography-subtitle1-text-transform: none;
    
    --typography-subtitle2-family: Roboto, Helvetica, Arial;
    --typography-subtitle2-size: .875rem;
    --typography-subtitle2-weight: 500;
    --typography-subtitle2-lineheight: 1.57;
    --typography-subtitle2-letterspacing: .00714em;
    --typography-subtitle2-text-transform: none;
    
    --typography-body1-family: Roboto, Helvetica, Arial;
    --typography-body1-size: 1rem;
    --typography-body1-weight: 400;
    --typography-body1-lineheight: 1.5;
    --typography-body1-letterspacing: .00938em;
    --typography-body1-text-transform: none;
    
    --typography-body2-family: Roboto, Helvetica, Arial;
    --typography-body2-size: .875rem;
    --typography-body2-weight: 400;
    --typography-body2-lineheight: 1.43;
    --typography-body2-letterspacing: .01071em;
    --typography-body2-text-transform: none;
    
    --typography-button-family: Roboto, Helvetica, Arial;
    --typography-button-size: .875rem;
    --typography-button-weight: 500;
    --typography-button-lineheight: 1.75;
    --typography-button-letterspacing: .02857em;
    --typography-button-text-transform: none;
    
    --typography-caption-family: Roboto, Helvetica, Arial;
    --typography-caption-size: .75rem;
    --typography-caption-weight: 400;
    --typography-caption-lineheight: 1.66;
    --typography-caption-letterspacing: .03333em;
    --typography-caption-text-transform: none;
    
    --typography-overline-family: Roboto, Helvetica, Arial;
    --typography-overline-size: .75rem;
    --typography-overline-weight: 400;
    --typography-overline-lineheight: 2.66;
    --typography-overline-letterspacing: .08333em;
    --typography-overline-text-transform: none;
    
    /* MARK: Variables, generic */
    --game-width-s: 90vw;
    --game-width-m: 50vw;
    
    --left-sidebar-width: 12rem;
    --right-sidebar-width: 18rem;

    --default-gap: 0.625rem;
    --default-margin: 0.2rem;
    --default-padding: 0.2rem;
    --default-border-radius: .5rem;
    --extended-border-radius: .8rem;
    
    /* MARK: Variables, tasks */
    --palette-task-normal: rgb(22, 196, 88);
    --palette-task-normal-text:  rgb(39,39,47);
    --palette-task-normal-darken: rgb(16, 145, 65);
    --palette-task-normal-lighten: rgb(38, 231, 111);
    --palette-task-normal-hover: rgba(22, 196, 88,0.05);
    --palette-task-normal-disabled: rgba(22, 196, 88, .5);
    --palette-task-normal-disabled-lighten: rgba(22, 196, 88, .5);
    
    --palette-task-travel: rgb(23, 112, 196);
    --palette-task-travel-text: rgb(255,255,255);
    --palette-task-travel-darken: rgb(15, 73, 128);
    --palette-task-travel-lighten: rgb(40, 138, 230);
    --palette-task-travel-hover: rgba(23, 112, 196,0.05);
    --palette-task-travel-disabled: rgba(23, 112, 196, .5);
    --palette-task-travel-disabled-lighten: rgba(40, 138, 230, .5);

    --palette-task-mandatory: rgb(224, 193, 68);
    --palette-task-mandatory-text:  rgb(39,39,47);
    --palette-task-mandatory-darken: rgb(207, 172, 34);
    --palette-task-mandatory-lighten: rgb(224, 226, 29);
    --palette-task-mandatory-hover: rgba(224, 193, 68,0.05);
    --palette-task-mandatory-disabled: rgba(224, 193, 68, .5);
    --palette-task-mandatory-disabled-lighten: rgba(224, 226, 29, .5);

    --palette-task-boss:  rgb(214, 60, 60);
    --palette-task-boss-text: rgb(255,255,255);
    --palette-task-boss-darken: rgb(184, 39, 39);
    --palette-task-boss-lighten: rgb(231, 67, 68);
    --palette-task-boss-hover: rgba(246,78,98,0.05);
    --palette-task-boss-disabled: rgba(214, 60, 60, .5);
    --palette-task-boss-disabled-lighten: rgba(231, 67, 68, .5);
    
    --palette-task-prestige: rgb(141, 23, 196);
    --palette-task-prestige-text: rgb(255,255,255);
    --palette-task-prestige-darken: rgb(115, 15, 156);
    --palette-task-prestige-lighten: rgb(166, 55, 219);
    --palette-task-prestige-hover: rgba(119,107,231,0.05);
    --palette-task-prestige-disabled: rgba(141, 23, 196, .5);
    --palette-task-prestige-disabled-lighten: rgba(166, 55, 219, .5);


    --palette-task-prestige-glow-1: rgba(166, 52, 219, 0.6);
    --palette-task-prestige-glow-2: rgba(166, 52, 219, 0.9);
    --palette-task-prestige-glow-3: rgba(166, 52, 219, 0.6);
    
    --palette-task-disabled: rgba(90, 90, 90, .8);
    --palette-task-disabled-lighten: rgba(100, 100, 100, .8);
    
    --palette-background-tooltip: rgba(0,0,0,0.8);
    --palette-background-notification: rgba(0,0,0,0.8);
    --palette-background-overlay: rgba(0,0,0,0.8);
}

/* MARK: General */
body {
    gap: var(--default-gap);
    margin: var(--default-margin);
    padding: var(--default-padding);    
    
    display:flex;
    min-height:100vh;
    background: linear-gradient(120deg, var(--palette-background-start), var(--palette-background-end)) fixed;

    color: var(--typography-default-text-color);
    font-family: var(--typography-default-family), sans-serif;
    font-weight: var(--typography-default-weight);
    font-size: var(--typography-default-size);
    line-height: var(--typography-default-lineheight);
    letter-spacing: var(--typography-default-letterspacing);
    text-transform: var(--typography-default-text-transform);

    user-select: none;          /* Standard syntax */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
}

/* MARK: Helper CSS classes */
.full-screen-overlay:not(.hidden) {
    display: flex;
}
.hidden {
    display: none !important;
}
.h1 {
    font-family: var(--typography-h1-family), sans-serif;
    font-weight: var(--typography-h1-weight);
    font-size: var(--typography-h1-size);
    line-height: var(--typography-h1-lineheight);
    letter-spacing: var(--typography-h1-letterspacing);
    text-transform: var(--typography-h1-text-transform);
}
.h2 {
    font-family: var(--typography-h2-family), sans-serif;
    font-weight: var(--typography-h2-weight);
    font-size: var(--typography-h2-size);
    line-height: var(--typography-h2-lineheight);
    letter-spacing: var(--typography-h2-letterspacing);
    text-transform: var(--typography-h2-text-transform);
}
.h3 {
    font-family: var(--typography-h3-family), sans-serif;
    font-weight: var(--typography-h3-weight);
    font-size: var(--typography-h3-size);
    line-height: var(--typography-h3-lineheight);
    letter-spacing: var(--typography-h3-letterspacing);
    text-transform: var(--typography-h3-text-transform);
}
.h4 {
    font-family: var(--typography-h4-family), sans-serif;
    font-weight: var(--typography-h4-weight);
    font-size: var(--typography-h4-size);
    line-height: var(--typography-h4-lineheight);
    letter-spacing: var(--typography-h4-letterspacing);
    text-transform: var(--typography-h4-text-transform);
}
.h5 {
    font-family: var(--typography-h5-family), sans-serif;
    font-weight: var(--typography-h5-weight);
    font-size: var(--typography-h5-size);
    line-height: var(--typography-h5-lineheight);
    letter-spacing: var(--typography-h5-letterspacing);
    text-transform: var(--typography-h5-text-transform);
}
.h6 {
    font-family: var(--typography-h6-family), sans-serif;
    font-weight: var(--typography-h6-weight);
    font-size: var(--typography-h6-size);
    line-height: var(--typography-h6-lineheight);
    letter-spacing: var(--typography-h6-letterspacing);
    text-transform: var(--typography-h6-text-transform);
}

/* MARK: Main & Aside */
@media (width < 1100px) {
    aside#left-sidebar {
        display:none;
    }

    aside#right-sidebar {
        display:none;
    }
}
@media (width >= 1100px) {
    main {
        margin-left: var(25vw);
        margin-right: var(25vw);
    }
    aside {
        position: fixed;
        top: 0;
        gap: var(--default-gap);
        height: 100vh;
        padding: 1rem;
    }
    aside#left-sidebar {
        /* left: 0; */
        right: 75vw;
        width: var(--left-sidebar-width);
    }

    aside#right-sidebar {
        /* right: 0; */
        left: 75vw;
        width: var(--right-sidebar-width);
    }
}


main {    
    flex: 1;     
    padding: 1rem;

    overflow: hidden;
}

#game-area {
    margin: 0 auto;
    display: flex;
}
#top-area {
    display: flex;
    background: var(--palette-primary-paper-color);
    border-radius: var(--default-border-radius);
    position: fixed;
    top: -8px;
    padding: 13px 5px 5px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@media screen and (max-width: 1100px) {
    #game-area {
        width: var(--game-width-s);
        min-width: var(--game-width-s);
    }
    #top-area {
        width: var(--game-width-s);
        min-width: var(--game-width-s);
    }
}
@media screen and (min-width: 1100px) {
    #game-area {
        width: var(--game-width-m);
        min-width: var(--game-width-m);
    }
    #top-area {
        width: var(--game-width-m);
        min-width: var(--game-width-m);
    }
}
#main-area{
    flex:1;
    padding-top: 1rem;
}

/* MARK: Button */
.button {
    padding: 6px 16px;
    font-family: var(--typography-button-family), sans-serif;
    font-size: var(--typography-button-size);
    font-weight: var(--typography-button-weight);
    line-height: var(--typography-button-lineheight);
    letter-spacing: var(--typography-button-letterspacing);
    text-transform: var(--typography-button-text-transform);
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    color: var(--palette-text-primary);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    
    background-color: var(--palette-action-default-hover);
    border-radius: var(--default-border-radius);
    cursor:pointer;
}
.button:disabled{  
    box-shadow: none;
    background-color: var(--palette-action-disabled-background) !important;
    color: var(--palette-action-disabled) !important;
    cursor: not-allowed;
}

/* MARK: Tasks */
.task {  
    margin: .2rem 0 .2rem;
    padding: .5rem;
    
    background: var(--palette-primary-paper-color);
    border-radius: var(--default-border-radius);
    
    display: flex;
    flex-direction: column-reverse;
}
.skills-used-text {
    margin: .2rem 0 .2rem;
}
.task button {
    position: relative;
    width:50%;
    
    height: 2rem;
    font-size: calc(var(--typography-button-size)*0.9);
    padding:0 0;
}
.task button:disabled {
    background: linear-gradient(5deg, var(--palette-task-disabled), var(--palette-task-disabled-lighten));
}
.task.Normal button:enabled {
    background: linear-gradient(5deg, var(--palette-task-normal), var(--palette-task-normal-lighten));
    color: var(--palette-task-normal-text);
}

.task.Travel button:enabled {
    background: linear-gradient(5deg, var(--palette-task-travel), var(--palette-task-travel-lighten));
    color: var(--palette-task-travel-text);
}

.task.Mandatory button:enabled {
    background: linear-gradient(5deg, var(--palette-task-mandatory), var(--palette-task-mandatory-lighten));
    color: var(--palette-task-mandatory-text);
}

.task.Boss button:enabled {
    background: linear-gradient(5deg, var(--palette-task-boss), var(--palette-task-boss-lighten));
    color: var(--palette-task-boss-text);
}

.task.Prestige button:enabled {
    background: linear-gradient(5deg, var(--palette-task-prestige), var(--palette-task-prestige-lighten));
    color: var(--palette-task-prestige-text);
    transition: background-color 0.2s, filter 0.2s;
    animation: prestige-glow 2s infinite;
}

@keyframes prestige-glow {
    0% {
        box-shadow: 0 0 5px 5px var(--palette-task-prestige-glow-1);
    }

    50% {
        box-shadow: 0 0 15px 8px var(--palette-task-prestige-glow-2);
    }

    100% {
        box-shadow: 0 0 5px 5px var(--palette-task-prestige-glow-3);
    }
}

.task-label {
    display:inline;
}
.task-item-indicator {
    display:inline;
}
.task-perk-indicator {
    display:inline;
}
.task-automation{
    display:inline;
}


.task-upper {
    width: 100%;
    display: flex;
    position: relative;
}

.task-reps {
    width: 50%;
    display: flex;
    margin-left: 3px;
}

.task-rep {
    width: 24px;
    height: 24px;
    background: #555;
    margin: 3px;
    border-radius: var(--default-border-radius);
}

.task-rep.finished {
    background: var(--palette-success);
}

.task-automation {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: smaller;
}

.disable-reason {
    color: var(--palette-error);
}
/* MARK: Energy */

#energy .progress-bar {
    height: 20px;
    border-radius: var(--extended-border-radius);
}

#energy {
    width: 100%;
}

/* MARK: Skills
*/

#skills {
    width: 100%;
    gap: var(--default-gap);
    display: flex;
    flex-direction: column;
}

.skill .progress-bar {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

/* MARK: Sidebar right
*/

.sidebar-section {
    position: relative;
    background: var(--palette-primary-paper-color);
    border-radius: var(--default-border-radius);
    padding: 5px;
}

.sidebar-section .section-name {
    margin: 5px;
}

.sidebar-section .elements-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-gap);
    margin-bottom: 5px;
}

.sidebar-section .element {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: var(--default-border-radius);
    background: var(--palette-secondary-paper-color);
}

.sidebar-section .section-info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 24px;
    height: 24px;
    text-align: center;

    border-radius: 100px;
    border: 2px solid var(--palette-black);
}

#controls .element {
    width: 80px;
    height: 80px;
}

.automation {
    text-align: center;
}

#controls .automation button {
    width: 60px;
    height: 42px;
}

.automation .on {
    background-color: var(--palette-success)
}

/* MARK: Perks
*/

.perk {
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* MARK: Game over
*/

.full-screen-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

    background: var(--palette-background-overlay);
}

#game-over-box {
    text-align: center;
}

#end-of-content-box {
    text-align: center;
}

#game-over-dismiss {
    font-size: 1.5em;
}

/* MARK: Tooltips */
#tooltip {
    position: absolute;
    background: var(--palette-background-tooltip);
    color: var(--palette-white);
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: var(--default-border-radius);
    z-index: 1000;
}

#tooltip h3 {
    margin-top: 3px;
    margin-bottom: 8px;
}


/* MARK: Progress bars
*/

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #555;
    overflow: hidden;
    border-radius: var(--default-border-radius);
}

.progress-fill {
    height: 100%;
    background: var(--palette-success);
    transition: width 0.2s;
}

.progress-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* MARK: Settings
*/

#settings {
    position: relative;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background: var(--palette-secondary-paper-color);
    border-radius: var(--default-border-radius);
    border: 2px solid var(--palette-black);
    padding: 8px;
    display: flex;
    gap: var(--default-gap);
}

#settings button {
    font-size: 1em;
}

#close-settings {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 1em;
}

#open-settings {
    height: 48px;
    text-align: center;
    font-size: 2em;
    border-radius: 8px;
    background: var(--palette-primary-paper-color);
    color: var(--typography-default-text-color);
}

/* MARK: Messages
*/
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 10px 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 999;
}

.message {
    background: var(--palette-background-notification);
    border-radius: var(--default-border-radius);
    color: #fff;
    margin: .2rem 10vw .2rem 10vw;
    padding: .2rem;
    
    width: 80vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--default-gap);
}

#zone-name {
    text-align: center;
    margin: 0;
}

/* MARK: Sidebar */

.sidebar-item {
    width: 100%;
    text-align: center;
    background: var(--palette-primary-paper-color);
    border-radius: var(--default-border-radius);
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sidebar-item-text {
    display: flex;
    justify-content: space-between;
}

.sidebar-item-text span {
    display: inline-flex;
    align-items: flex-end;
}
