/* MARK: Variables
*/

:root {
    --element-background-color: rgb(35, 108, 168);
    --element-foreground-color: rgb(49, 144, 221);
}

/* MARK: Main areas
*/

body {
    color: #000;
    min-height: 100vh;
    background: linear-gradient(120deg, #102661, #8c386d);
    background-attachment: fixed;
}

#game-area {
    max-width: 900px;
    margin: 0 auto;
}

#play-area {
    display: flex;
}

#left-column {
    width: 67%;
}

#right-column {
    width: 33%;
    margin-left: 8px;
}

#zone-name {
    text-align: center;
    margin-top: 0;
    color: #FFF;
}

#energy .progress-bar {
    height: 20px;
    border-radius: 12px;
}

#energy {
    margin-bottom: 8px;
    width: 100%;
}

#top-area {
    display: flex;
    gap: 10px;
}

#top-bar {
    width: 730px;
}

#right-top-area {
    width: 160px;
}

button {
    border-radius: 8px;
    background: var(--element-foreground-color);
}

#open-settings {
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 2em;
}

button:hover:enabled {
    filter: brightness(1.1);
}

/* MARK: Tasks
*/

.task {
    margin-bottom: 8px;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

.task button {
    position: relative;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 5px;
}

.task button:disabled {
    background: linear-gradient(5deg, #777, #999);
    color: #000;
}

.task.Normal button:enabled {
    background: linear-gradient(5deg, rgb(22, 196, 88), rgb(53, 197, 101));
}

.task.Travel button:enabled {
    background: linear-gradient(5deg, rgb(23, 112, 196), rgb(54, 132, 204));
}

.task.Mandatory button:enabled {
    background: linear-gradient(5deg, rgb(224, 193, 68), rgb(220, 221, 130));
}

.task.Boss button:enabled {
    background: linear-gradient(5deg, rgb(214, 60, 60), rgb(236, 107, 107));
}

.task .indicator {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
}

.task-upper {
    width: 100%;
    display: flex;
}

.task-reps {
    width: 50%;
    display: flex;
    margin-left: 3px;
}

.task-rep {
    width: 24px;
    height: 24px;
    background: #555;
    margin: 3px;
    border-radius: 5px;
}

.task-rep.finished {
    background: #00BB00;
}

.task-automation {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: smaller;
}

/* MARK: Skills
*/

#skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.skill {
    width: 100px;
    text-align: center;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

.skill .progress-bar {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.skills-used-text {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* MARK: Sidebar
*/

.sidebar-section {
    position: relative;
    margin-bottom: 20px;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
}

.sidebar-section .section-name {
    margin: 5px;
}

.sidebar-section .elements-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5px;
}

.sidebar-section .element {
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    background: var(--element-foreground-color);
}

.sidebar-section .section-info {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    width: 24px;
    height: 24px;
    text-align: center;

    border-radius: 100px;
    border: #000;
    border-width: 2px;
    border-style: solid;
}

#controls .element {
    width: 60px;
    height: 60px;
}

.automation {
    text-align: center;
}

#controls .automation button {
    width: 60px;
    height: 42px;
}

.automation .on {
    background-color: rgb(49, 221, 72);
}

/* MARK: Perks
*/

.perk {
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* MARK: Game over
*/

.full-screen-overlay {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

    background: #0008;
}

#game-over-box {
    text-align: center;
}

#end-of-content-box {
    text-align: center;
}

/* MARK: Tooltips
*/

#tooltip {
    position: absolute;
    background: #000000AA;
    color: #FFF;
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}

#tooltip h3 {
    margin-top: 3px;
    margin-bottom: 8px;
}

/* MARK: Progress bars
*/

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    background: #555;
    overflow: hidden;
    border-radius: 5px;
}

.progress-fill {
    height: 100%;
    background: #00BB00;
    transition: width 0.2s;
}

.progress-value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* MARK: Settings
*/

#settings {
    position: relative;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background: var(--element-background-color);
    border-radius: 8px;
    border: #000;
    border-width: 2px;
    border-style: solid;
    padding: 8px;
    display: flex;
    gap: 10px;
}

#settings button {
    font-size: 1em;
}

#close-settings {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    font-size: 1em;
}

/* MARK: Messages
*/
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    background: #222;
    padding: 10px 0;
    background-color: transparent;
    pointer-events: none;
}
.message {
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
    margin: 3px 0;
    padding: 5px 10px;
    border-radius: 8px;
}

/* MARK: Extra stats
*/

.extra-stat {
    width: 100% - 10px;
    text-align: center;
    background: var(--element-background-color);
    border-radius: 8px;
    padding: 5px;
    margin-top: 5px;
}
